div#miboton {
    font-style: italic;
}

footer {
    background: #673AB7; 
    color: white;
    margin-top: 20px;        /* para separar un bloque del otro hacia abajo */
    padding-top: 26px;       /* para bajar el texto si esta muy arriba o pegadas al borde */
    padding-bottom: 38px;    /* para cuando esta pegado al borde interior o muy abajo */
    border-radius: 8px;
}

nav.navbar {
    background: #673AB7 !important;  
}

nav.navbar a {
    color: white !important;
}

footer h4 {
    margin-top: 25px;
}

.row {
    margin-top: 30px;
}

div#imagen {
    margin-top: 30px;
}


h1 {
    margin-top: 100px;
}

button.navbar-toggler {
    background-color: white;
}

img.Gun_Yellow {
    margin-top: 40px;
}

p {
    margin-left: 22px;
}

.micarta {
    border: solid 1px #ebebed;  /* para haga borde de la tarjeta el recuadro */
    box-sizing: border-box;  /* se hace mas comprimido con box-sizing y border-box para que no ocupe espacio   */
    padding: 14px; /* para que se haga mas hacia dentro la imagen */ 
    border-radius: 8px;  
    margin-bottom: 8px; /*para que se mueva mas hacia bajo y separen las tarjetas */
    background: aliceblue;
}

body {
  margin:0;
  min-height:100vh;
  background:linear-gradient(135deg, #1d2671, #c33764);
  color: #ebebed;
}

p.miparrafo {
    color: black;
}